<component name="libraryTable">
  <library name="spring-2.0.1">
    <CLASSES>
      <root url="file://C:/Program Files/spring-2.0.1.RELEASE" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://C:/Program Files/spring-2.0.1.RELEASE" recursive="false" />
  </library>
</component>